body {
  padding-left: 2;
  background: url("IMGS/bsalogo.jpg") white no-repeat fixed center;
  background-color: white;
  font: 10pt sans-serif;
}

table {
  border-width: 1px;
  border-collapse: collapse;
}

ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 12em 
}

ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
<!--
  border: 0.1em solid black;
-->
  border: none;
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}

ul.subnavbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  left: 3em;
  width: 11em 
}

ul.subnavbar li {
  background: white;
  margin: 0 0;
  padding: none;
  border: none;
  text-indent: 1em;
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}

a:link {
  color: blue;
  text-decoration: underline
}

a:visited {
  color: purple;
  text-decoration: underline
}

a:hover {
  text-decoration: underline;
  color: #FF9900;
}

a:active {
  color: red;
  text-decoration: underline
}

h1 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif 
}

h2 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif 
}

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted 
}

div.halfpg {
  max-width: 30%;
}

div.floatright {
  float: right;
  margin-right: 0;
  margin-top: 0;
}

dl.calendar {
  font-family: Georgia, "Times New Roman", Times, serif;
}

dl.calendar dt {
  font-weight: bold;
}

div.outing {
   background-color : #33ff66;
}

div.hilight {
   display : inline;
   background-color : yellow;
}

table.inner {
   background-color : white;
   font-size : 8pt;
}

